*.c text eol=lf
*.h text eol=lf
*.md text eol=lf
*.s text eol=lf
*.sh text eol=lf
*.txt text eol=lf
Makefile text eol=lf

* linguist-vendored

lab01/ll_cycle.c -linguist-vendored

lab02/bit_ops.c -linguist-vendored
lab02/lfsr.c -linguist-vendored
lab02/list.c -linguist-vendored
lab02/vector.c -linguist-vendored

lab03/factorial.s -linguist-vendored
lab03/list_map.s -linguist-vendored

lab04/megalistmanips.s -linguist-vendored
lab04/discrete_fn.s -linguist-vendored

lab07/transpose.c -linguist-vendored

lab09/common.c -linguist-vendored
